.introduction {
    position: relative;
    height: 100vh;
    background-image: url("./Images/Smoke.png");
    background-size: cover;
    background-position: center;
}

.home {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 5rem; 
    letter-spacing: 3px;
    text-align: center;
    color: #111;
    display: flex;
    gap: 5px;
    pointer-events: none;
    user-select: none;
}

.nameTitle {
    background-color: #111;
    color: white;
    font-size: 5rem; 
    padding: 0px 75px;
    pointer-events: all;
    user-select: text;
    border-radius: 100px;
    transition: all 2s;
}

.nameTitle::selection {
    background-color: rgb(112, 46, 255);
}

.subTitle {
    font-size: 2.7rem;
    color: #333;
    text-align: center;
    width: 100%;
    line-height: 1.6;
    pointer-events: none;
    user-select: none;
    margin-top: 3rem;
    width: 100%;
}

.subTitle::selection {
    background-color: rgb(112, 46, 255);
    color: white;
}

.arrow {
    user-select: none;
    pointer-events: none;
    height: 200px;
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 1500px) {
    .title {
        flex-direction: column;
        padding: 0;
    }
}

@media only screen and (max-width: 1380px) {
    .title {
        font-size: 4rem;
    }

    .nameTitle {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 675px) {
    .introduction{
        height: 75vh;
    }
}
@media only screen and (max-width: 37.5em) {
    .title{
        font-size: 4.5rem;
    }
    .nameTitle {
        font-size: 3.8rem;
    }
    .subTitle{
        font-size: 2rem;
    }
}